/*=============================================
CARRITO DE COMPRAS
=============================================*/
.cabeceraCarrito{
	height:40px;
}

.cabeceraCarrito h3{
	margin-top:-5px
}

.cabeceraCheckout{
	height:66px;
}

/*=============================================
CHECKOUT
=============================================*/

.contenidoCheckout, .contenidoCheckout .row{
	padding:0px 20px;
}

.calculoEnvio{
	display:none;
}

.formaPagoyProductosaComprar{
	display:none;
}

.modalRealizarEnvioPago{
	font-size: 12px;	
}

.modalRealizarEnvioPago h3{
	font-size: 12px;	
}

.tituloModalCheckout{
	border:0;
	text-align: left;
	font-size: 11px;
	margin-bottom: 0;
	color: #000;	
}

.modalRealizarEnvioPago hr 
{
	margin-top: 10px;
	text-align: left;
	border-top: 1px solid #000;
	border: 1; 
	height:0;
}