
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
    background-image: url("../../openpay/resources/img/cvv.png");
    background-repeat: no-repeat;
}




.card-expl div.debit {
    background-image: url("../../openpay/resources/img/cards2.png");
    background-repeat: no-repeat;
}
.card-expl div.credit {
    background-image: url("../../openpay/resources/img/cards1.png");
    background-repeat: no-repeat;
}
