.a-text-bold {
    font-weight: 700!important;
}

.titulo-pregunta {
    padding-left: 2%;
    padding-bottom: 1%;
}

.titulo-respuesta {
    padding-left: 2%;
}

.texto-respuesta-usuario span {
    display: block;
}

.a-color-tertiary {
    color: #767676!important;
}

.a-nowrap,
.aok-nowrap {
    white-space: nowrap;
}

.renglon-respuesta {
    padding-bottom: 1%;
}

.minHeight.collapse {
    height: 0;
    display: block;
    /* Alto minimo */
    min-height: 70px;
    overflow: hidden;
}

.minHeight.collapsing {
    min-height: 70px;
}

.minHeight.collapse.in {
    height: auto;
}

.masTexto {
    padding-left: 9%;
}
.seccion-preguntas{
    padding-bottom: 7px;
}
.no-hay-preguntas {
    float: left;
  padding: -700px;
}